.locationMarker {
  &__icon {
    font-size: 1.5rem;
  }

  &__icon-6 {
    color: rgb(251, 253, 192);
  }
  &__icon-7 {
    color: rgb(226, 226, 182);
  }
  &__icon-16 {
    color: rgb(193, 105, 17);
  }
  &__icon-9 {
    color: rgb(57, 179, 255);
  }
  &__icon-14 {
    color: rgb(246, 185, 99);
  }
  &__icon-19 {
    color: rgb(255, 255, 0);
  }
  &__icon-15 {
    color: rgb(236, 236, 236);
  }
  &__icon-10 {
    color: rgb(229, 229, 229);
  }
  &__icon-17 {
    color: rgba(255, 255, 255, 0.902);
  }
  &__icon-18 {
    color: rgb(255, 99, 9);
  }
  &__icon-12 {
    color: rgb(151, 4, 34);
  }
  &__icon-13 {
    color: rgb(177, 254, 62);
  }
  &__icon-8 {
    color: rgb(255, 0, 0);
  }
}
